<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- Header -->
<div class="header" th:fragment="header">

  <!-- Logo -->
  <div class="header-left">
    <a href="#" class="logo">
      <img src="#" alt="Logo">
    </a>
    <a href="#" class="logo logo-small">
      <img src="#" alt="Logo" width="30" height="30">
    </a>
  </div>
  <!-- /Logo -->

  <!-- Sidebar Toggle -->
  <a href="javascript:void(0);" id="toggle_btn">
    <i class="fas fa-bars"></i>
  </a>
  <!-- /Sidebar Toggle -->

  <!-- Search -->
  <div class="top-nav-search">
    <form>
      <input type="text" class="form-control" placeholder="Search here">
      <button class="btn" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <!-- /Search -->

  <!-- Mobile Menu Toggle -->
  <a class="mobile_btn" id="mobile_btn">
    <i class="fas fa-bars"></i>
  </a>
  <!-- /Mobile Menu Toggle -->

  <!-- Header Menu -->
  <ul class="nav user-menu">

    <!-- User Menu -->
    <li class="nav-item dropdown has-arrow main-drop">
      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
								<img src="#" alt="">
								<span class="status online"></span>
							</span>
        <span>[[${#request.userPrincipal.principal.fullName}]]</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" th:href="@{/user/edit/}"><i data-feather="user" class="mr-1"></i> Profil</a>
        <a class="dropdown-item" th:href="@{/logout}"><i data-feather="log-out" class="mr-1"></i> Cıkıs yap</a>
      </div>
    </li>
    <!-- /User Menu -->

  </ul>
  <!-- /Header Menu -->

</div>
<!-- /Header -->
</body>
</html>