<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- Sidebar -->
<div class="sidebar" id="sidebar" th:fragment="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title"><span>Menü</span></li>
        <li class="active">
          <a href="#" th:href="@{/}"><i data-feather="home"></i> <span>Anasayfa</span></a>
        </li>
        <li>
          <a href="#" th:href="@{/budget/}"> <span>Bütçe</span></a>
        </li>
        <li>
          <a href="#" th:href="@{/payment}"> <span>Ödemeler</span></a>
        </li>
        <li>
          <a href="#" th:href="@{/payment-category}"> <span>Ödeme Kategorileri</span></a>
        </li>
        <li>
          <a href="#" th:href="@{/user/}"><i data-feather="users"></i> <span>Profil</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Sidebar -->
</body>
</html>