<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{page_layouts/_layout}">
<head>
  <title>TODO supply a title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div layout:fragment="content">
  <div class="col-md-12 col-sm-12">
    <div class="col-xl-12 col-md-12">


      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Profil Düzenle</h5>
        </div>
        <div class="card-body">
          <!-- Form -->
          <form action="#" th:action="@{/user/saveuser}" method="post">
            <input type="hidden" th:value="${user.id}" />
            <div class="row form-group">
              <label for="name" class="col-sm-3 col-form-label input-label">Adı</label>
              <div class="col-sm-12">
                <input type="text" th:field="${user.firstName}" class="form-control" id="name" />
              </div>
            </div>
            <div class="row form-group">
              <label for="surname" class="col-sm-3 col-form-label input-label">Soyadı</label>
              <div class="col-sm-12">
                <input type="text" th:field="${user.lastName}" class="form-control" id="surname"  />
              </div>
            </div>
            <div class="row form-group">
              <label for="username" class="col-sm-3 col-form-label input-label">Kullanıcı Adı</label>
              <div class="col-sm-12">
                <input type="text" th:field="${user.userName}" class="form-control" id="username"/>
              </div>
            </div>

            <div class="row form-group">
              <label for="password" class="col-sm-3 col-form-label input-label">Şifre</label>
              <div class="col-sm-12">
                <input th:type="password" th:field="${user.password}" class="form-control" id="password" />
              </div>
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>

          </form>
          <!-- /Form -->

        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
