<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{page_layouts/_layout}">
    <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div layout:fragment="content">
<div class="col-md-12 col-sm-12">
    <div class="col-xl-12 col-md-12">


        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Profil
                    <a th:href="@{/user/edit}" class="btn btn-success text-right"> Düzenle </a>
                </h5>
            </div>
            <div class="card-body">
                <!-- Form -->
                <form th:object="${user}">
                    <div class="row form-group">
                        <label for="name" class="col-sm-3 col-form-label input-label">Adı</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" th:placeholder="${user.firstName}" readonly/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="surname" class="col-sm-3 col-form-label input-label">Soyadı</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="surname" th:placeholder="${user.lastName}" readonly />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="username" class="col-sm-3 col-form-label input-label">Kullanıcı Adı</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="username" th:placeholder="${user.userName}" readonly/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="password" class="col-sm-3 col-form-label input-label">Şifre</label>
                        <div class="col-sm-12">
                            <input th:type="password" class="form-control" id="password" readonly/>
                        </div>
                    </div>

                </form>
                <!-- /Form -->

            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
